.custom-footer {
  .first-box {
    width: 20%;
  }

  .second-box {
    .links {
      justify-content: flex-start;

      ul {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        margin: 0.5em 0.5em 0.5em 0;
        display: flex;
        align-items: center;
        &:not(:last-child) {
          &::after {
            content: "|";
            margin-left: 0.5em;
            margin-right: .5em;
            color: silver;
          }
        }
        &::before {
          content: "";
          width: 24px;
          height: 24px;
          display: inline-block;
          margin-right: 8px;
          background-size: contain;
        }
        &:nth-child(1) {
          &::before {
            background-image: url($czLogo);
          }
        }
        &:nth-child(2) {
          &::before {
            background-image: url($nlLogo);
          }
        }
        &:nth-child(3) {
          &::before {
            background-image: url($deLogo);
          }
        }
        &:nth-child(4) {
          &::before {
            background-image: url($itLogo);
          }
        }
        &:nth-child(5) {
          &::before {
            background-image: url($krLogo);
          }
        }
        &:nth-child(6) {
          &::before {
            background-image: url($plLogo);
          }
        }
        &:nth-child(7) {
          &::before {
            background-image: url($esLogo);
          }
        }
        &:nth-child(8) {
          &::before {
            background-image: url($seLogo);
          }
        }
      }
    }
  }

  ul li.footer-section-link-wrapper {
    a {
      color: silver;

      &:hover {
        color: #9ff;
        text-decoration: underline;
      }
    }
  }
}