.discourse-theme--q {
    #main-outlet-wrapper {
      .sidebar-wrapper {
        background-color: #ffffff;
      }
      .sidebar-footer-wrapper {
        background: #ffffff;
      }
    }
    .topic-list-item,
    tr {
      border-bottom: 0;
    }

    .full-width .contents .topic-list .topic-list-body .topic-list-item.visited {
      border: 0;
    }
    .full-width .contents .topic-list .topic-list-body .topic-list-item {
      background-color: $homepageBlockBg;
      border: 0px;
      box-shadow: inherit;
      margin-bottom: 0.75rem;
    }

    .full-width .contents .topic-list .topic-list-body .topic-list-item:hover {
      background-color: #f8f8fa;
      box-shadow: inherit;
      border: 0;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    }

    .list-controls .combo-box .combo-box-header {
      border: 0px;
      background-color: #f5f5f8;
    }

    .topic-body {
      width: 100%;
    }

    .signup-cta {
      width: 100%;
    }

    #topic-title h1 {
      margin-bottom: 10px;
    }

    .topic-avatar {
      margin-right: 12px;
    }

    .names span.first {
      background: #f5f5f8;
      padding: 5px 8px;
      border-radius: 6px;
    }

    .topic-meta-data .post-infos {
      background: #f2f2f5;
      padding: 5px 8px;
      border-radius: 6px;
    }

    .signup-cta,
    #topic-footer-buttons,
    .more-topics__container {
      max-width: inherit;
    }

    .container.posts {
      display: flex;
      flex-direction: row-reverse;
      > .row {
        width: 100%;
      }
    }

    .category-heading {
      display: flex;
      align-items: center;
      p {
        width: calc(100% - 150px - 2em);
      }
    }

    ul#navigation-bar li.posted {
      display: none;
    }

    .featured-lists__wrapper.above-main-container {
      margin-bottom: 0;
    }

    .featured-lists__list-header h2 {
      font-size: 1rem;
      font-weight: normal;
      color: $custom-primary;
      padding: 0.65em 0.75em;
      border-bottom: 3px solid $custom-primary;
    }

    .topic-navigation {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .post-translation{
      .lightbox-wrapper{
          position: relative;
      }
    }

    .two-rows.extra-info-wrapper+.before-header-panel-outlet{
      display: none;
    }

    .two-rows.extra-info-wrapper+.before-header-panel-outlet+.panel .header-locale-selector-widget{
      display: none;
    }

    .header-locale-selector{
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    //animation fadeInDown
    @keyframes fadeInDown {
      0% {
        opacity: 0;
        transform: translateY(-20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .custom-search-banner-wrap{
      h1,p,.search-menu,.status-content {
          opacity: 0;
      }
      &.active {
          h1{
              animation: fadeInDown .4s ease-in .2s forwards;
          }
          p{
              animation: fadeInDown .4s ease-in .4s forwards;
          }
          .search-menu {
              animation: fadeInDown .5s ease-in .6s forwards;
              z-index: 1;
          }
          .status-content {
              animation: fadeInDown .5s ease-in .8s forwards;
              z-index: 0;
          }
      }
    }

    .user-preferences .form-vertical .control-group.home{
      display: none;
    }

    .custom-search-banner{
      background-image:url($kvBackGround);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .featured-lists__list-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 0 .5rem;
      a{
          margin-left: auto;
      }
    }
  }


#user-content {
    .user-preferences .form-vertical {
      width: 100%;
    }
    .signature-preferences .signatures .d-editor-container {
      display: block;

    }
    .signature-preferences .signatures .d-editor-textarea-column {
      height: 300px;
    }
    .signature-preferences .signatures .d-editor-textarea-column textarea.d-editor-input {
      height: 300px;
      max-height: 80%;
      min-height: 100px;
    }
  }

  // fix display flickering issue https://community.qnap.com/t/forum-display-bug/476
  html.discourse-touch {
    #topic-progress-wrapper,
    section.topic-map__contents {
      display: none;
    }
  }

body.has-sidebar-page div.wrap,
.wrap {
  max-width: inherit;
  padding: 0 6%;
  @media screen and (min-width: 1920px) {
    padding: 0;
    width: 1640px !important;
  }
}
#main-outlet-wrapper {
  max-width: inherit;
  padding: 0 6%;
  margin-top: 40px;
  @media screen and (min-width: 1920px) {
    padding: 0;
    width: 1640px;
  }
}
html body #main-outlet {
  max-width: inherit;
  background: #ffffff;
  padding: 3em 3em 3%;
  padding-bottom: 3% !important;
  @media screen and (max-width: 768px) {
    padding: 1.5em;
    margin-bottom: 3rem !important;
  }
}
.custom-footer .wrap {
  max-width: inherit;
  padding: 0 6%;
  margin: inherit;
  width: 100%;
  @media screen and (min-width: 1920px) {
    padding: 0;
    width: 1640px;
    margin: 0 auto;
  }
}
.home-logo-wrap {
  display: flex;
  align-items: flex-end;
  #site-logo {
    padding-right: 4px;
    margin-right: 4px;
  }
  .header-text {
    display: none;
  }
  @media (min-width: 1000px) {
    .header-text {
      display: block;
      margin-bottom: 4px;
      font-size: 24px;
    }
  }
}
.card-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  li {
    > div {
      height: 100%;
      > div {
        border-radius: 1rem;
        overflow: hidden;
        text-align: center;
        padding: 1rem;
        background: $homepageBlockBg;
        height: calc(100% - 2rem);
      }
    }
  }
}
.q-container {
  margin: 1rem 0 2rem 0;
  &.margin-0 {
    margin: 0;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: $search-primary;
    margin: 60px 0px 30px;
  }
}
ul.status-content {
  display: flex;
  justify-content: center;
  list-style: none;
  color: $search-primary;
  opacity: 1;
  transition: all 0.2s;
  visibility: visible;
  height: auto;
  color: #e5e5e8;
  li {
    padding: 0 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.5rem;
    }
  }
  &.default {
    visibility: hidden !important;
    max-height: 0 !important;
    height: 0;
    opacity: 0;
    transition: all 0.2s;
  }
}
div.adduser-content {
  background: $homepageBlockBg;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  p {
    text-align: center;
  }
  .buttons {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      display: contents;
      a {
        margin: 0 1rem;
        padding: 12px 20px 12px 20px;
        font-size: 1rem;
        line-height: 1rem;
        border-radius: 4px;
        background-color: $custom-primary;
        color: white;
        &:hover {
          background-color: #3c4043;
          color: white;
        }
      }
    }
  }
}
ul.cards-content {
  li {
    @media screen and (max-width: 1000px) {
      width: 100%;
      margin-bottom: 1rem;
    }
    width: 32%;
  }
  a {
    color: #3c4043;
    &:hover {
      color: $custom-primary;
      p {
        color: $custom-primary;
      }
    }
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
    color: $desc;
  }

  .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    &.blogLogo {
      background: url($blogLogo);
    }
    &.knowledgeLogo {
      background: url($knowledgeLogo);
    }
    &.releaseLogo {
      background: url($releaseLogo);
    }
  }
}
ul#category-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  li {
    @media screen and (max-width: 1000px) {
      width: 100%;
      margin-bottom: 1rem;
    }
    width: 49%;
    figure {
      margin: 0;
    }
    > div > div {
      height: calc(100% - 3rem);
      text-align: left;
    }
    a {
      display: flex;
      color: #3c4043;
      &:hover {
        color: $custom-primary;
        p {
          color: $custom-primary;
        }
      }
      div {
        padding: 1rem;
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 4.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        color: $desc;
      }
    }
  }
}
ul.news-content {
  li {
    @media screen and (max-width: 1000px) {
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      .new {
        max-width: 300px;
      }
    }
    width: 32%;
    .new {
      padding: 0;
      height: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }
    .texts {
      padding: 1rem 1rem 0rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    a {
      color: $custom-primary;
      display: block;
      text-align: right;
      margin-top: 2rem;
      padding: 0rem 1rem 1rem 1rem;
      &:hover {
        color: #00d0ff;
      }
    }
  }
  h3 {
    font-size: 1rem;
    font-weight: 600;
    color: $search-primary;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 6.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  p {
    font-size: 1rem;
  }
  figure {
    margin: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
