.showcased-categories-sidebar {
  .two-topic-list-sidebar {
    .btn-link.posts-map.badge-posts {
      display: block;
    }

    .topic-list .topic-list-item {
      height: unset;
    }

    .topic-excerpt {
      display: none;
    }
  }

  .full-width .contents .topic-list {
    display: unset;
  }
}
