<div class="q-container">
  <div>
    <div class="adduser-content">
        <p>{{theme-i18n "adduser.intro"}}</p>
        <ul class="buttons">
            <li><a id="adduser_sign_in">{{theme-i18n "adduser.sign_in"}}</a></li>
            <li><a id="adduser_register">{{theme-i18n "adduser.register"}}</a></li>
        </ul>
    </div>
  </div>
</div>