<div
  id="maintenanceNotificationBar"
  class="broken-theme-alert-banner"
  data-end-time="1740535200000"
  data-duration-time="5000"
>
  <p style="margin: .5rem auto;max-width: 80vw;">
    Our community will be temporarily unavailable for system maintenance &amp;
    upgrade on 2025/02/26 from 10:00 to 12:00 (UTC+8).
    <br />
    We apologize for any inconvenience and appreciate your understanding.
  </p>
</div>
