.custom-search-banner-wrap {
  h1 {
    font-size: 2.5em !important;
  }
  p {
    font-weight: normal;
    font-size: $font-up-1;
  }
}

html
  body:not(.static-tos):not(.static-faq):not(.static-privacy):not(.about-page):not(.static-faq):not(.badges-page):not(.tags-page):not(.archetype-regular):not(.archetype-private_message):not(.admin-interface):not(.edit-category):not(.user-summary-page):not(.user-activity-page):not(.user-invites-page):not(.user-preferences-page)
  #main-outlet {
  width: calc(100% - 1em);
  padding: 0em 0.5em 1em 0.5em;
  box-shadow: none;
  background-color: transparent;
}

html body.static-tos #main-outlet,
html body.static-privacy #main-outlet,
html body.about-page #main-outlet,
html body.static-faq #main-outlet,
html body.tags-page #main-outlet,
html body.badges-page #main-outlet,
html body.archetype-regular #main-outlet,
html body.archetype-private_message #main-outlet,
html body.admin-interface #main-outlet,
html body.user-summary-page #main-outlet,
html body.user-activity-page #main-outlet,
html body.user-invites-page #main-outlet,
html body.user-preferences-page #main-outlet,
html body.staff:not(.navigation-topics) #main-outlet {
  border-radius: 0px;
  width: calc(100% - 3em);
  background-color: var(--secondary);
  margin-bottom: 0px;
}

.container.posts > .row {
  max-width: 100%;
}

.navigation-categories .navigation-container,
.categories-list .navigation-container {
  border-bottom: 0px !important;
}

body.category .category-breadcrumb .select-kit-header,
#navigation-bar,
.navigation-controls {
  margin-bottom: 0.5em !important;
}

body.category .navigation-categories .list-container,
.categories-list .list-container {
  padding-top: 1em !important;
}

ol.category-breadcrumb {
  margin-top: 1em;
}

.list-controls .nav-pills {
  li.navigation-toggle {
    border-radius: 8px;
    border: none;
    background-color: var(--secondary);
    a:hover,
    a:focus {
      color: var(--primary);
      background-color: var(--secondary);
    }
  }
  .drop {
    top: calc(100% + 0.5em);
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }
}

.topic-list .topic-list-data {
  padding: 1em 1em 0 1em;
  width: calc(100% - 2em);
  max-width: unset;
}

.custom-search-banner-wrap .search-context {
  top: 3em !important;
}

.top-lists {
  background-color: var(--secondary);
  border-radius: 8px;
  padding: 0.25em 0.25em 0.25em 0.5em;
  margin-bottom: 0.5em;
}

.users-directory.directory,
.reviewable {
  width: 100%;
  background-color: var(--secondary);
  margin-left: -0.5em;
  padding: 0 0.5em;
}

.tag-groups-container {
  background: var(--secondary);
  padding: 2em 1em;
  border-radius: 0.25em;
  margin-top: 1em;
}