<div class="home-logo-wrap">
    <a href="/">
    <img
      id="site-logo"
      class="logo-big"
      src="https://testing-community.qnap.com.tw/uploads/default/original/1X/84f1937b2ce37a245bdf2d6b868555055f4e2a31.svg"
      alt="QNAP Community"
    />
  </a>
  <a
    href="/"
    class="header-text"
    style="color: rgb(0, 116, 225); text-decoration: none; font-weight: bold;"
  >
    Community<sup style="color: rgb(255, 165, 0);" id="siteStatus"></sup>
  </a>
</div>